# Prevent unnecessary files from bloating the image build context
node_modules
.next
.next-dev2
.git
.gitignore
npm-debug.log
Dockerfile*
docker-compose*.yml
README*.md
**/*.log
coverage
.vscode
.DS_Store